/* Responsive CSS */

@media (max-width: 1400px) {
  /* Navbar */
  .navbar-toggler {
    display: block;
  }
  .navbar-collapse {
    display: none;
  }
  .navbar-collapse.show {
    display: block;
  }
  /* Navigation Menu */
  .navContainer {
    width: 100%;
  }
  /* Main Content Area */
  .main {
    width: 100%;
  }
  /* Modals */
  .modal-dialog {
    max-width: 100%;
  }
  .table-container {
    max-width: 100%;
    height: auto;
    /* Adjust height as needed */
    overflow: auto;
  }
}

@media (min-width: 768px) {
  /* Navbar */
  .navbar-toggler {
    display: none;
  }
  .navbar-collapse {
    display: block;
  }
  /* Navigation Menu */
  .navContainer {
    width: 200px;
    /* Adjust width as needed */
  }
  /* Main Content Area */
  .main {
    width: calc(100% - 200px);
    /* Adjust width based on navContainer width */
  }
  /* Modals */
  .modal-dialog {
    max-width: 80%;
    /* Adjust max-width as needed */
  }
  .table-container {
    max-width: 100%;
    height: auto;
    /* Adjust height as needed */
    overflow: auto;
  }
}
